@font-face{

font-family: 'PriceDown';

src: url('../fonts/pricedown bl.ttf');

font-weight: normal;

font-style: normal;

}
@font-face{

font-family: 'Kabel';

src: url('../fonts/Kabel.otf');

font-weight: normal;

font-style: normal;

}
@font-face{

    font-family: 'Lato Heavy ';

    src: url('../fonts/latobold.woff') ;

    font-weight: normal;

    font-style: normal;

}