
body, html {
	margin: 0;
	padding: 0;
}
html, body{  height: 100%; margin:0}

body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	position: relative;

}
.mainscreen {
	flex-grow: 1;

	background: url('../img/congruent_outline.png') center center ;
	-webkit-background-size: 20%;
	background-size: 20%;
	display: flex;
	flex-direction: column;
	position: relative;

}
.mainscreen-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	
}
.mainscreen-header {
	padding: 10px;
}
.logo-main-desc {
	font-family: 'Roboto Slab', serif;
	color: #FA8043;
	font-size: 16px;
	text-align: center;
	margin: 0;
	word-spacing: 0.3px;

}

.logo-desc {	
	text-align: center;
}
.logo-wrapper {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 5%;
}
.mainscreen-logo {
	width: 80px;
	height: 80px;

}
.mainscreen-description {
	font-size: 36px;
	line-height: 1;
	margin: 0;
	padding: 0;
	text-align: center;
	color: brown;
	text-transform: uppercase;
	font-family: Kabel;
	margin-bottom: 10px;
	text-shadow: 1px 1px 0 black, -1px -1px 0 black;

} /* Контент*/
.content {
	        flex-grow: 1;
    width: 100%;
	padding-top: 20px;
background: url('../img/dark-grey-terrazzo.png') center center repeat;
-webkit-background-size: 100%;
background-size: 30%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}


.content-container {
	padding: 0 !important;

}
.content-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-decoration: none;
	text-transform: uppercase;
	color: #FA8043;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 0;
	padding-bottom:0;
}
.content-item {
	width: 400px;
	height: 30vh;
	margin: 0 20px;
	border: 2px solid gray;
	list-style: none;
	margin-bottom: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	transition: 0.3s;
}
.content-item:hover {
	transform: scale(1.1);
	-webkit-box-shadow: 7px 7px 12px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 12px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 12px 0px rgba(50, 50, 50, 0.75);
}

.content-item__link {
	text-decoration: none !important;
}
.content-item__title {
	color: brown;
	text-transform: uppercase;
	font-family: Kabel;
	text-decoration: none;
	font-size: 24px;
	text-align: center;
	text-shadow: 1px 1px 0 black, -1px -1px 0 black;
}
.content-item__contacts {
	text-align: center;
	margin: 0;
	color: #fff;
}
.content-item__name {
color: #fff;
	text-align: center;
}
.contact {

	width: 100%;
	height: 100px;
	padding: 20px 0;
}
.contact-item {
	text-align: center;
}
.contact-item__title {
	color:#fff;
	text-transform: uppercase;
	font-family: Kabel;
	text-decoration: none;
	font-size: 24px;
	text-align: center;
	
}
.contact-item__contacts {
	text-align: center;
	margin: 0;
	color: #fff;
}
.contact-item__name {
	color: #fff;
	text-align: center;
}
.field {
	background: url('../img/field.jpg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.chink {
	background: url('../img/chink.jpeg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.model {
	background: url('../img/3dmodel.jpg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.cut {
	background: url('../img/3dcut.png') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.map {
	background: url('../img/3dmap.jpg') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	
}

.contact {
	background-color: #000;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto Slab', serif;
	color: #FA8043;
	font-size: 16px;
}
}
.contact:hover {
	transform: scale(1) !important;
	box-shadow: none;
}