
body, html {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  position: relative;

}

.mainscreen {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  position: relative;

}

.mainscreen-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;

}

.mainscreen-header {
  padding: 10px;
  background:linear-gradient(rgba(7,2,35,0.5), #1C4D95);
  background: -moz-linear-gradient(rgba(7,2,35,0.5), #1C4D95);
  background: -ms-linear-gradient(rgba(7,2,35,0.5), #1C4D95);
  background: -o-linear-gradient(rgba(7,2,35,0.5), #1C4D95);
  background: -webkit-linear-gradient(rgba(7,2,35,0.5), #1C4D95);
}

.logo-main-desc {
  font-size: 16px;
  text-align: center;
  font-family: Lato;
  margin: 0;
  word-spacing: 0.3px;


}

.logo-desc {
  text-align: center;
}

.logo-wrapper {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 5%;
}

.mainscreen-logo {
  width: 80px;
  height: 80px;

}

.mainscreen-description {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Lato;
  color: #fff;
}

/* Контент*/
.content {
  background: url("../img/bg.jpg") center center no-repeat;
  background-size: cover;
  flex-grow: 1;
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content-container {
  padding: 0 !important;

}

.content-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #FA8043;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  padding-bottom: 0;
}

.content-item {
  width: 400px;
  height: 30vh;
  margin: 0 20px;
  list-style: none;
  margin-bottom: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
  background-color: rgba(7,2,35,0.5);
}

.content-item:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 7px 7px 12px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 12px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 12px 0px rgba(50, 50, 50, 0.75);


  background-image: -webkit-linear-gradient(top,rgba(7,2,35,0.5) 0%, #00add0 100%);
  background-image: linear-gradient(to bottom,rgba(7,2,35,0.5) 0%, #00add0 100%);

}
.content-item__img {
  width: 50px;
  height: 50px;
}
.mining {
  background: url('../img/mining.svg') center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.crystal {
  background: url('../img/crystal.svg') center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.mineModel {
  background: url('../img/3d.svg') center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.mapCut {
  background: url('../img/cut.svg') center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}


.content-item.field:hover .mining {
  background: url('../img/mining-active.svg') center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.content-item.mine:hover .crystal {
  background: url('../img/crystal-active.svg') center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.content-item.model:hover .mineModel {
  background: url('../img/3d-active.svg') center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.content-item.cut:hover .mapCut {
  background: url('../img/cut-active.svg') center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}



.content-item__link {
  color:#000;
  text-decoration: none !important;
}
.content-item__link:hover {
  color:#000;
}

.content-item__title {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.content-item__contacts {
  text-align: center;
  margin: 0;
  color: #fff;
}

.content-item__name {
  color: #fff;
  text-align: center;
}

.contact {

  width: 100%;
  height: 100px;
  padding: 20px 0;
}

.contact-item {
  text-align: center;
}

.contact-item__title {
  color: #fff;
  text-transform: uppercase;
  font-family: Kabel;
  text-decoration: none;
  font-size: 24px;
  text-align: center;

}

.contact-item__contacts {
  text-align: center;
  margin: 0;
  color: #fff;
}

.contact-item__name {
  color: #fff;
  text-align: center;
}

.field {
  -webkit-background-size: cover;
  background-size: cover;
}

.mine {

  -webkit-background-size: cover;
  background-size: cover;
}

.model {

  -webkit-background-size: cover;
  background-size: cover;

}

.cut {
  -webkit-background-size: cover;
  background-size: cover;

}

.map {
  background: url('../img/3dmap.jpg') center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

}

.contact {
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  color: #FA8043;
  font-size: 16px;
}

}
.contact:hover {
  transform: scale(1) !important;
  box-shadow: none;
}