@media screen and (max-height: 632px) {

  .content-item {
	  height: 150px;
  }
}
@media screen and (max-width: 991px) {
    html{
        height: auto;
    }
    .content-item {
        width: 350px;
        height: 40vh;
    }
    .content-list {
        flex-wrap: wrap;
    }

    .mainscreen-logo {
        display: none;
    }
}
@media screen and (max-width: 1150px) {
    .logo-main-desc {
        margin: 0 auto;
        width: 80%;
    }
    .logo-desc {

    }
}