body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-background-size: 20%;
    background-size: 20%;
}
.wrapper {
    width:100%;
    padding: 10px 0;
    text-align: center;
    padding: 10px;
    background:linear-gradient(rgba(7,2,35,0.5), #1C4D95);
    background: -moz-linear-gradient(rgba(7,2,35,0.5), #1C4D95);
    background: -ms-linear-gradient(rgba(7,2,35,0.5), #1C4D95);
    background: -o-linear-gradient(rgba(7,2,35,0.5), #1C4D95);
    background: -webkit-linear-gradient(rgba(7,2,35,0.5), #1C4D95);
    margin-bottom: 10px;
}

.form_cut {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table_cut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-responsive {
    text-align: center;
    display: inline-block;

    color: #000;
    padding-bottom: 30px;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #fff;

}
.mainscreen-logo {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 3%;
    top: 10px;
}
th {
    border: 1px solid black !important;
}
td {
    border: 1px solid black !important;
}
#live_data_doc {
    position: relative;
    display: none;
}
.live_data-close{
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right:  -20px;
    top: -20px;
    cursor: pointer;
}
.live_data-close::after{
    display: block;
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background: #000;
    transform: rotate(-45deg) translate(-34%,-324%);
    cursor: pointer;
    left: 50%;
    top: 50%;

}
.live_data-close::before{
    display: block;
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);

    cursor: pointer;
}
.active-table {
    display: block !important;
}